version: '3.8'
services:
  backend:
    build: ./Backend
    ports:
      - '3001:3001'
    environment:
      - MONGODB_URI=mongodb+srv://sithumini1215:FbP2QL5oEMkjN4wD@cluster0.fe8crkc.mongodb.net/result-management-devops?retryWrites=true&w=majority

  frontend:
    build: ./Frontend
    ports:
      - '3000:3000'

